
<!DOCTYPE html>
<html lang="en">
<head>
<meta name="layout" content="hoteleriaLayout" />
<title>Hoteleria</title>
</head>
<!--/head-->

<body class="homepage">


	<section id="main-slider" class="no-margin">
		<div class="carousel slide">
			<ol class="carousel-indicators">
				<li data-target="#main-slider" data-slide-to="0" class="active"></li>
				<%--                <li data-target="#main-slider" data-slide-to="1"></li>--%>
				<%--                <li data-target="#main-slider" data-slide-to="2"></li>--%>
			</ol>
			<div class="carousel-inner">

				<div class="item active"
					style="background-image: url('${resource(dir: 'images/slider', file: 'bg1.jpg')}')">
					<div class="container">
						<div class="row slide-margin">
							<div class="col-sm-6">
								<div class="carousel-content">

									<g:if test="${session.user == null}">
										<h1 class="animation animated-item-1">Hoteleria</h1>
										<h2 class="animation animated-item-2">Inicia sesión y conoce mas!</h2>
										<a style="cursor: pointer;"
											class="btn-slide animation animated-item-3"
											onclick="enviarFormulario(document,'formIngresar')">Log
											In</a>
									</g:if>
									<g:if test="${session.user != null}">
										<h1 class="animation animated-item-1">Hoteleria</h1>
										<h2 class="animation animated-item-2">
											Consulta los mejores hoteles
											${session.user} !
										</h2>
										<a style="cursor: pointer;"
											class="btn-slide animation animated-item-3"
											onclick="enviarFormulario(document,'formConsultar')">Consultar!</a>
									</g:if>


								</div>
							</div>

							<%--                            <div class="col-sm-6 hidden-xs animation animated-item-4">--%>
							<%--                                <div class="slider-img">--%>
							<%--                                    <img src="images/slider/img1.png" class="img-responsive">--%>
							<%--                                </div>--%>
							<%--                            </div>--%>

						</div>
					</div>
				</div>
				<!--/.item-->

				<%--                <div class="item" style="background-image: url(images/slider/bg2.jpg)">--%>
				<%--                    <div class="container">--%>
				<%--                        <div class="row slide-margin">--%>
				<%--                            <div class="col-sm-6">--%>
				<%--                                <div class="carousel-content">--%>
				<%--                                    <h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>--%>
				<%--                                    <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>--%>
				<%--                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>--%>
				<%--                                </div>--%>
				<%--                            </div>--%>
				<%----%>
				<%--                            <div class="col-sm-6 hidden-xs animation animated-item-4">--%>
				<%--                                <div class="slider-img">--%>
				<%--                                    <img src="images/slider/img2.png" class="img-responsive">--%>
				<%--                                </div>--%>
				<%--                            </div>--%>
				<%----%>
				<%--                        </div>--%>
				<%--                    </div>--%>
				<%--                </div><!--/.item-->--%>
				<%----%>
				<%--                <div class="item" style="background-image: url(images/slider/bg3.jpg)">--%>
				<%--                    <div class="container">--%>
				<%--                        <div class="row slide-margin">--%>
				<%--                            <div class="col-sm-6">--%>
				<%--                                <div class="carousel-content">--%>
				<%--                                    <h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>--%>
				<%--                                    <h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>--%>
				<%--                                    <a class="btn-slide animation animated-item-3" href="#">Read More</a>--%>
				<%--                                </div>--%>
				<%--                            </div>--%>
				<%--                            <div class="col-sm-6 hidden-xs animation animated-item-4">--%>
				<%--                                <div class="slider-img">--%>
				<%--                                    <img src="images/slider/img3.png" class="img-responsive">--%>
				<%--                                </div>--%>
				<%--                            </div>--%>
				<%--                        </div>--%>
				<%--                    </div>--%>
				<%--                </div><!--/.item-->--%>
			</div>
			<!--/.carousel-inner-->
		</div>
		<!--/.carousel-->
		<a class="prev hidden-xs" href="#main-slider" data-slide="prev"> <i
			class="fa fa-chevron-left"></i>
		</a> <a class="next hidden-xs" href="#main-slider" data-slide="next">
			<i class="fa fa-chevron-right"></i>
		</a>
	</section>
	<!--/#main-slider-->

	<%--    <section id="feature" >--%>
	<%--        <div class="container">--%>
	<%--           <div class="center wow fadeInDown">--%>
	<%--                <h2>Features</h2>--%>
	<%--                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>--%>
	<%--            </div>--%>
	<%----%>
	<%--            <div class="row">--%>
	<%--                <div class="features">--%>
	<%--                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">--%>
	<%--                        <div class="feature-wrap">--%>
	<%--                            <i class="fa fa-bullhorn"></i>--%>
	<%--                            <h2>Fresh and Clean</h2>--%>
	<%--                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>--%>
	<%--                        </div>--%>
	<%--                    </div><!--/.col-md-4-->--%>
	<%----%>
	<%--                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">--%>
	<%--                        <div class="feature-wrap">--%>
	<%--                            <i class="fa fa-comments"></i>--%>
	<%--                            <h2>Retina ready</h2>--%>
	<%--                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>--%>
	<%--                        </div>--%>
	<%--                    </div><!--/.col-md-4-->--%>
	<%----%>
	<%--                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">--%>
	<%--                        <div class="feature-wrap">--%>
	<%--                            <i class="fa fa-cloud-download"></i>--%>
	<%--                            <h2>Easy to customize</h2>--%>
	<%--                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>--%>
	<%--                        </div>--%>
	<%--                    </div><!--/.col-md-4-->--%>
	<%--                --%>
	<%--                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">--%>
	<%--                        <div class="feature-wrap">--%>
	<%--                            <i class="fa fa-leaf"></i>--%>
	<%--                            <h2>Adipisicing elit</h2>--%>
	<%--                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>--%>
	<%--                        </div>--%>
	<%--                    </div><!--/.col-md-4-->--%>
	<%----%>
	<%--                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">--%>
	<%--                        <div class="feature-wrap">--%>
	<%--                            <i class="fa fa-cogs"></i>--%>
	<%--                            <h2>Sed do eiusmod</h2>--%>
	<%--                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>--%>
	<%--                        </div>--%>
	<%--                    </div><!--/.col-md-4-->--%>
	<%----%>
	<%--                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">--%>
	<%--                        <div class="feature-wrap">--%>
	<%--                            <i class="fa fa-heart"></i>--%>
	<%--                            <h2>Labore et dolore</h2>--%>
	<%--                            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h3>--%>
	<%--                        </div>--%>
	<%--                    </div><!--/.col-md-4-->--%>
	<%--                </div><!--/.services-->--%>
	<%--            </div><!--/.row-->    --%>
	<%--        </div><!--/.container-->--%>
	<%--    </section><!--/#feature-->--%>
	<%----%>
	<%--    <section id="recent-works">--%>
	<%--        <div class="container">--%>
	<%--            <div class="center wow fadeInDown">--%>
	<%--                <h2>Recent Works</h2>--%>
	<%--                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>--%>
	<%--            </div>--%>
	<%----%>
	<%--            <div class="row">--%>
	<%--                <div class="col-xs-12 col-sm-4 col-md-3">--%>
	<%--                    <div class="recent-work-wrap">--%>
	<%--                        <img class="img-responsive" src="images/portfolio/recent/item1.png" alt="">--%>
	<%--                        <div class="overlay">--%>
	<%--                            <div class="recent-work-inner">--%>
	<%--                                <h3><a href="#">Business theme</a> </h3>--%>
	<%--                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>--%>
	<%--                                <a class="preview" href="images/portfolio/full/item1.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>--%>
	<%--                            </div> --%>
	<%--                        </div>--%>
	<%--                    </div>--%>
	<%--                </div>   --%>
	<%----%>
	<%--                <div class="col-xs-12 col-sm-4 col-md-3">--%>
	<%--                    <div class="recent-work-wrap">--%>
	<%--                        <img class="img-responsive" src="images/portfolio/recent/item2.png" alt="">--%>
	<%--                        <div class="overlay">--%>
	<%--                            <div class="recent-work-inner">--%>
	<%--                                <h3><a href="#">Business theme</a></h3>--%>
	<%--                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>--%>
	<%--                                <a class="preview" href="images/portfolio/full/item2.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>--%>
	<%--                            </div> --%>
	<%--                        </div>--%>
	<%--                    </div>--%>
	<%--                </div> --%>
	<%----%>
	<%--                <div class="col-xs-12 col-sm-4 col-md-3">--%>
	<%--                    <div class="recent-work-wrap">--%>
	<%--                        <img class="img-responsive" src="images/portfolio/recent/item3.png" alt="">--%>
	<%--                        <div class="overlay">--%>
	<%--                            <div class="recent-work-inner">--%>
	<%--                                <h3><a href="#">Business theme </a></h3>--%>
	<%--                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>--%>
	<%--                                <a class="preview" href="images/portfolio/full/item3.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>--%>
	<%--                            </div> --%>
	<%--                        </div>--%>
	<%--                    </div>--%>
	<%--                </div>   --%>
	<%----%>
	<%--                <div class="col-xs-12 col-sm-4 col-md-3">--%>
	<%--                    <div class="recent-work-wrap">--%>
	<%--                        <img class="img-responsive" src="images/portfolio/recent/item4.png" alt="">--%>
	<%--                        <div class="overlay">--%>
	<%--                            <div class="recent-work-inner">--%>
	<%--                                <h3><a href="#">Business theme </a></h3>--%>
	<%--                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>--%>
	<%--                                <a class="preview" href="images/portfolio/full/item4.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>--%>
	<%--                            </div> --%>
	<%--                        </div>--%>
	<%--                    </div>--%>
	<%--                </div>   --%>
	<%--                --%>
	<%--                <div class="col-xs-12 col-sm-4 col-md-3">--%>
	<%--                    <div class="recent-work-wrap">--%>
	<%--                        <img class="img-responsive" src="images/portfolio/recent/item5.png" alt="">--%>
	<%--                        <div class="overlay">--%>
	<%--                            <div class="recent-work-inner">--%>
	<%--                                <h3><a href="#">Business theme</a></h3>--%>
	<%--                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>--%>
	<%--                                <a class="preview" href="images/portfolio/full/item5.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>--%>
	<%--                            </div> --%>
	<%--                        </div>--%>
	<%--                    </div>--%>
	<%--                </div>   --%>
	<%----%>
	<%--                <div class="col-xs-12 col-sm-4 col-md-3">--%>
	<%--                    <div class="recent-work-wrap">--%>
	<%--                        <img class="img-responsive" src="images/portfolio/recent/item6.png" alt="">--%>
	<%--                        <div class="overlay">--%>
	<%--                            <div class="recent-work-inner">--%>
	<%--                                <h3><a href="#">Business theme </a></h3>--%>
	<%--                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>--%>
	<%--                                <a class="preview" href="images/portfolio/full/item6.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>--%>
	<%--                            </div> --%>
	<%--                        </div>--%>
	<%--                    </div>--%>
	<%--                </div> --%>
	<%----%>
	<%--                <div class="col-xs-12 col-sm-4 col-md-3">--%>
	<%--                    <div class="recent-work-wrap">--%>
	<%--                        <img class="img-responsive" src="images/portfolio/recent/item7.png" alt="">--%>
	<%--                        <div class="overlay">--%>
	<%--                            <div class="recent-work-inner">--%>
	<%--                                <h3><a href="#">Business theme </a></h3>--%>
	<%--                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>--%>
	<%--                                <a class="preview" href="images/portfolio/full/item7.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>--%>
	<%--                            </div> --%>
	<%--                        </div>--%>
	<%--                    </div>--%>
	<%--                </div>   --%>
	<%----%>
	<%--                <div class="col-xs-12 col-sm-4 col-md-3">--%>
	<%--                    <div class="recent-work-wrap">--%>
	<%--                        <img class="img-responsive" src="images/portfolio/recent/item8.png" alt="">--%>
	<%--                        <div class="overlay">--%>
	<%--                            <div class="recent-work-inner">--%>
	<%--                                <h3><a href="#">Business theme </a></h3>--%>
	<%--                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>--%>
	<%--                                <a class="preview" href="images/portfolio/full/item8.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>--%>
	<%--                            </div> --%>
	<%--                        </div>--%>
	<%--                    </div>--%>
	<%--                </div>   --%>
	<%--            </div><!--/.row-->--%>
	<%--        </div><!--/.container-->--%>
	<%--    </section><!--/#recent-works-->
--%>
	<%----%>
	<%--    <section id="services" class="service-item">--%>
	<%--	   <div class="container">--%>
	<%--            <div class="center wow fadeInDown">--%>
	<%--                <h2>Our Service</h2>--%>
	<%--                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>--%>
	<%--            </div>--%>
	<%----%>
	<%--            <div class="row">--%>
	<%----%>
	<%--                <div class="col-sm-6 col-md-4">--%>
	<%--                    <div class="media services-wrap wow fadeInDown">--%>
	<%--                        <div class="pull-left">--%>
	<%--                            <img class="img-responsive" src="images/services/services1.png">--%>
	<%--                        </div>--%>
	<%--                        <div class="media-body">--%>
	<%--                            <h3 class="media-heading">SEO Marketing</h3>--%>
	<%--                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>--%>
	<%--                        </div>--%>
	<%--                    </div>--%>
	<%--                </div>--%>
	<%----%>
	<%--                <div class="col-sm-6 col-md-4">--%>
	<%--                    <div class="media services-wrap wow fadeInDown">--%>
	<%--                        <div class="pull-left">--%>
	<%--                            <img class="img-responsive" src="images/services/services2.png">--%>
	<%--                        </div>--%>
	<%--                        <div class="media-body">--%>
	<%--                            <h3 class="media-heading">SEO Marketing</h3>--%>
	<%--                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>--%>
	<%--                        </div>--%>
	<%--                    </div>--%>
	<%--                </div>--%>
	<%----%>
	<%--                <div class="col-sm-6 col-md-4">--%>
	<%--                    <div class="media services-wrap wow fadeInDown">--%>
	<%--                        <div class="pull-left">--%>
	<%--                            <img class="img-responsive" src="images/services/services3.png">--%>
	<%--                        </div>--%>
	<%--                        <div class="media-body">--%>
	<%--                            <h3 class="media-heading">SEO Marketing</h3>--%>
	<%--                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>--%>
	<%--                        </div>--%>
	<%--                    </div>--%>
	<%--                </div>  --%>
	<%----%>
	<%--                <div class="col-sm-6 col-md-4">--%>
	<%--                    <div class="media services-wrap wow fadeInDown">--%>
	<%--                        <div class="pull-left">--%>
	<%--                            <img class="img-responsive" src="images/services/services4.png">--%>
	<%--                        </div>--%>
	<%--                        <div class="media-body">--%>
	<%--                            <h3 class="media-heading">SEO Marketing</h3>--%>
	<%--                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>--%>
	<%--                        </div>--%>
	<%--                    </div>--%>
	<%--                </div>--%>
	<%----%>
	<%--                <div class="col-sm-6 col-md-4">--%>
	<%--                    <div class="media services-wrap wow fadeInDown">--%>
	<%--                        <div class="pull-left">--%>
	<%--                            <img class="img-responsive" src="images/services/services5.png">--%>
	<%--                        </div>--%>
	<%--                        <div class="media-body">--%>
	<%--                            <h3 class="media-heading">SEO Marketing</h3>--%>
	<%--                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>--%>
	<%--                        </div>--%>
	<%--                    </div>--%>
	<%--                </div>--%>
	<%----%>
	<%--                <div class="col-sm-6 col-md-4">--%>
	<%--                    <div class="media services-wrap wow fadeInDown">--%>
	<%--                        <div class="pull-left">--%>
	<%--                            <img class="img-responsive" src="images/services/services6.png">--%>
	<%--                        </div>--%>
	<%--                        <div class="media-body">--%>
	<%--                            <h3 class="media-heading">SEO Marketing</h3>--%>
	<%--                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>--%>
	<%--                        </div>--%>
	<%--                    </div>--%>
	<%--                </div>                                                --%>
	<%--            </div><!--/.row-->--%>
	<%--        </div><!--/.container-->--%>
	<%--    </section><!--/#services-->--%>
	<%----%>
	<%--    <section id="middle">--%>
	<%--        <div class="container">--%>
	<%--            <div class="row">--%>
	<%--                <div class="col-sm-6 wow fadeInDown">--%>
	<%--                    <div class="skill">--%>
	<%--                        <h2>Our Skills</h2>--%>
	<%--                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>--%>
	<%----%>
	<%--                        <div class="progress-wrap">--%>
	<%--                            <h3>Graphic Design</h3>--%>
	<%--                            <div class="progress">--%>
	<%--                              <div class="progress-bar  color1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 85%">--%>
	<%--                                <span class="bar-width">85%</span>--%>
	<%--                              </div>--%>
	<%----%>
	<%--                            </div>--%>
	<%--                        </div>--%>
	<%----%>
	<%--                        <div class="progress-wrap">--%>
	<%--                            <h3>HTML</h3>--%>
	<%--                            <div class="progress">--%>
	<%--                              <div class="progress-bar color2" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 95%">--%>
	<%--                               <span class="bar-width">95%</span>--%>
	<%--                              </div>--%>
	<%--                            </div>--%>
	<%--                        </div>--%>
	<%----%>
	<%--                        <div class="progress-wrap">--%>
	<%--                            <h3>CSS</h3>--%>
	<%--                            <div class="progress">--%>
	<%--                              <div class="progress-bar color3" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%">--%>
	<%--                                <span class="bar-width">80%</span>--%>
	<%--                              </div>--%>
	<%--                            </div>--%>
	<%--                        </div>--%>
	<%----%>
	<%--                        <div class="progress-wrap">--%>
	<%--                            <h3>Wordpress</h3>--%>
	<%--                            <div class="progress">--%>
	<%--                              <div class="progress-bar color4" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%">--%>
	<%--                                <span class="bar-width">90%</span>--%>
	<%--                              </div>--%>
	<%--                            </div>--%>
	<%--                        </div>--%>
	<%--                    </div>--%>
	<%----%>
	<%--                </div><!--/.col-sm-6-->--%>
	<%----%>
	<%--                <div class="col-sm-6 wow fadeInDown">--%>
	<%--                    <div class="accordion">--%>
	<%--                        <h2>Why People like us?</h2>--%>
	<%--                        <div class="panel-group" id="accordion1">--%>
	<%--                          <div class="panel panel-default">--%>
	<%--                            <div class="panel-heading active">--%>
	<%--                              <h3 class="panel-title">--%>
	<%--                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">--%>
	<%--                                  Lorem ipsum dolor sit amet--%>
	<%--                                  <i class="fa fa-angle-right pull-right"></i>--%>
	<%--                                </a>--%>
	<%--                              </h3>--%>
	<%--                            </div>--%>
	<%----%>
	<%--                            <div id="collapseOne1" class="panel-collapse collapse in">--%>
	<%--                              <div class="panel-body">--%>
	<%--                                  <div class="media accordion-inner">--%>
	<%--                                        <div class="pull-left">--%>
	<%--                                            <img class="img-responsive" src="images/accordion1.png">--%>
	<%--                                        </div>--%>
	<%--                                        <div class="media-body">--%>
	<%--                                             <h4>Adipisicing elit</h4>--%>
	<%--                                             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>--%>
	<%--                                        </div>--%>
	<%--                                  </div>--%>
	<%--                              </div>--%>
	<%--                            </div>--%>
	<%--                          </div>--%>
	<%----%>
	<%--                          <div class="panel panel-default">--%>
	<%--                            <div class="panel-heading">--%>
	<%--                              <h3 class="panel-title">--%>
	<%--                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">--%>
	<%--                                  Lorem ipsum dolor sit amet--%>
	<%--                                  <i class="fa fa-angle-right pull-right"></i>--%>
	<%--                                </a>--%>
	<%--                              </h3>--%>
	<%--                            </div>--%>
	<%--                            <div id="collapseTwo1" class="panel-collapse collapse">--%>
	<%--                              <div class="panel-body">--%>
	<%--                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.--%>
	<%--                              </div>--%>
	<%--                            </div>--%>
	<%--                          </div>--%>
	<%----%>
	<%--                          <div class="panel panel-default">--%>
	<%--                            <div class="panel-heading">--%>
	<%--                              <h3 class="panel-title">--%>
	<%--                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">--%>
	<%--                                  Lorem ipsum dolor sit amet--%>
	<%--                                  <i class="fa fa-angle-right pull-right"></i>--%>
	<%--                                </a>--%>
	<%--                              </h3>--%>
	<%--                            </div>--%>
	<%--                            <div id="collapseThree1" class="panel-collapse collapse">--%>
	<%--                              <div class="panel-body">--%>
	<%--                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.--%>
	<%--                              </div>--%>
	<%--                            </div>--%>
	<%--                          </div>--%>
	<%----%>
	<%--                          <div class="panel panel-default">--%>
	<%--                            <div class="panel-heading">--%>
	<%--                              <h3 class="panel-title">--%>
	<%--                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">--%>
	<%--                                  Lorem ipsum dolor sit amet--%>
	<%--                                  <i class="fa fa-angle-right pull-right"></i>--%>
	<%--                                </a>--%>
	<%--                              </h3>--%>
	<%--                            </div>--%>
	<%--                            <div id="collapseFour1" class="panel-collapse collapse">--%>
	<%--                              <div class="panel-body">--%>
	<%--                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.--%>
	<%--                              </div>--%>
	<%--                            </div>--%>
	<%--                          </div>--%>
	<%--                        </div><!--/#accordion1-->--%>
	<%--                    </div>--%>
	<%--                </div>--%>
	<%----%>
	<%--            </div><!--/.row-->--%>
	<%--        </div><!--/.container-->--%>
	<%--    </section><!--/#middle-->--%>
	<%----%>
	<%--    <section id="content">--%>
	<%--        <div class="container">--%>
	<%--            <div class="row">--%>
	<%--                <div class="col-xs-12 col-sm-8 wow fadeInDown">--%>
	<%--                   <div class="tab-wrap"> --%>
	<%--                        <div class="media">--%>
	<%--                            <div class="parrent pull-left">--%>
	<%--                                <ul class="nav nav-tabs nav-stacked">--%>
	<%--                                    <li class=""><a href="#tab1" data-toggle="tab" class="analistic-01">Responsive Web Design</a></li>--%>
	<%--                                    <li class="active"><a href="#tab2" data-toggle="tab" class="analistic-02">Premium Plugin Included</a></li>--%>
	<%--                                    <li class=""><a href="#tab3" data-toggle="tab" class="tehnical">Predefine Layout</a></li>--%>
	<%--                                    <li class=""><a href="#tab4" data-toggle="tab" class="tehnical">Our Philosopy</a></li>--%>
	<%--                                    <li class=""><a href="#tab5" data-toggle="tab" class="tehnical">What We Do?</a></li>--%>
	<%--                                </ul>--%>
	<%--                            </div>--%>
	<%----%>
	<%--                            <div class="parrent media-body">--%>
	<%--                                <div class="tab-content">--%>
	<%--                                    <div class="tab-pane fade" id="tab1">--%>
	<%--                                        <div class="media">--%>
	<%--                                           <div class="pull-left">--%>
	<%--                                                <img class="img-responsive" src="images/tab2.png">--%>
	<%--                                            </div>--%>
	<%--                                            <div class="media-body">--%>
	<%--                                                 <h2>Adipisicing elit</h2>--%>
	<%--                                                 <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use.</p>--%><%--                                            </div>--%>
<%--                                        </div>--%>
<%--                                    </div>--%>
<%----%>
<%--                                     <div class="tab-pane fade active in" id="tab2">--%>
<%--                                        <div class="media">--%>
<%--                                           <div class="pull-left">--%>
<%--                                                <img class="img-responsive" src="images/tab1.png">--%>
<%--                                            </div>--%>
<%--                                            <div class="media-body">--%>
<%--                                                 <h2>Adipisicing elit</h2>--%>
<%--                                                 <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use.--%>
<%--                                                 </p>--%>
<%--                                            </div>--%>
<%--                                        </div>--%>
<%--                                     </div>--%>
<%----%>
<%--                                     <div class="tab-pane fade" id="tab3">--%>
<%--                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>--%>
<%--                                     </div>--%>
<%--                                     --%>
<%--                                     <div class="tab-pane fade" id="tab4">--%>
<%--                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words</p>--%>
<%--                                     </div>--%>
<%----%>
<%--                                     <div class="tab-pane fade" id="tab5">--%>
<%--                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures,</p>--%>
<%--                                     </div>--%>
<%--                                </div> <!--/.tab-content-->  --%>
<%--                            </div> <!--/.media-body--> --%>
<%--                        </div> <!--/.media-->     --%>
<%--                    </div><!--/.tab-wrap-->               --%>
<%--                </div><!--/.col-sm-6-->--%>
<%----%>
<%--                <div class="col-xs-12 col-sm-4 wow fadeInDown">--%>
<%--                    <div class="testimonial">--%>
<%--                        <h2>Testimonials</h2>--%>
<%--                         <div class="media testimonial-inner">--%>
<%--                            <div class="pull-left">--%>
<%--                                <img class="img-responsive img-circle" src="images/testimonials1.png">--%>
<%--                            </div>--%>
<%--                            <div class="media-body">--%>
<%--                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>--%>
<%--                                <span><strong>-John Doe/</strong> Director of corlate.com</span>--%>
<%--                            </div>--%>
<%--                         </div>--%>
<%----%>
<%--                         <div class="media testimonial-inner">--%>
<%--                            <div class="pull-left">--%>
<%--                                <img class="img-responsive img-circle" src="images/testimonials1.png">--%>
<%--                            </div>--%>
<%--                            <div class="media-body">--%>
<%--                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>--%>
<%--                                <span><strong>-John Doe/</strong> Director of corlate.com</span>--%>
<%--                            </div>--%>
<%--                         </div>--%>
<%----%>
<%--                    </div>--%>
<%--                </div>--%>
<%----%>
<%--            </div><!--/.row-->--%>
<%--        </div><!--/.container-->--%>
<%--    </section><!--/#content-->--%>
<%----%>
<%--    <section id="partner">--%>
<%--        <div class="container">--%>
<%--            <div class="center wow fadeInDown">--%>
<%--                <h2>Our Partners</h2>--%>
<%--                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>--%>
<%--            </div>    --%>
<%----%>
<%--            <div class="partners">--%>
<%--                <ul>--%>
<%--                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="images/partners/partner1.png"></a></li>--%>
<%--                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src="images/partners/partner2.png"></a></li>--%>
<%--                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" src="images/partners/partner3.png"></a></li>--%>
<%--                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" src="images/partners/partner4.png"></a></li>--%>
<%--                    <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1500ms" src="images/partners/partner5.png"></a></li>--%>
<%--                </ul>--%>
<%--            </div>        --%>
<%--        </div><!--/.container-->--%>
<%--    </section><!--/#partner-->--%>
<%----%>
<%--    <section id="conatcat-info">--%>
<%--        <div class="container">--%>
<%--            <div class="row">--%>
<%--                <div class="col-sm-8">--%>
<%--                    <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">--%>
<%--                        <div class="pull-left">--%>
<%--                            <i class="fa fa-phone"></i>--%>
<%--                        </div>--%>
<%--                        <div class="media-body">--%>
<%--                            <h2>Have a question or need a custom quote?</h2>--%>
<%--                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation +0123 456 70 80</p>--%>
<%--                        </div>--%>
<%--                    </div>--%>
<%--                </div>--%>
<%--            </div>--%>
<%--        </div><!--/.container-->    --%>
<%--    </section><!--/#conatcat-info-->--%>

<g:form id="formIngresar" name="formConsultar" controller ="Hotel" action="index" style="padding-left:5px">
</g:form>

<g:form id="formIngresar" name="formIngresar" controller ="Login" action="index" style="padding-left:5px">
</g:form>

</body>
</html>